.history/.gitignore_20250722013434
.history/.gitignore_20250722013435
.history/.gitignore_20250722013436
.history/client/package_20250714214445.json
.history/client/package_20250721193800.json
.history/client/package_20250721193851.json
.history/client/package_20250721193915.json
.history/client/package_20250721193926.json
.history/client/src/components/subpages/AppointmentViewPage_20250719171640.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250721165127.jsx
.history/client/src/pages/admin/Appointments_20250719191429.jsx
.history/client/src/pages/admin/Appointments_20250720005845.jsx
.history/client/src/pages/admin/Appointments_20250721152832.jsx
.history/client/src/pages/admin/Appointments_20250721165128.jsx
.history/client/src/pages/admin/Appointments_20250721174433.jsx
.history/client/src/pages/admin/Appointments_20250721174445.jsx
.history/client/src/pages/admin/Appointments_20250721174530.jsx
.history/client/src/pages/admin/Appointments_20250721174606.jsx
.history/client/src/pages/admin/Appointments_20250721174811.jsx
.history/client/src/pages/admin/Appointments_20250721174855.jsx
.history/client/src/pages/admin/Appointments_20250721174952.jsx
.history/client/src/pages/admin/Appointments_20250721175045.jsx
.history/client/src/pages/admin/Appointments_20250721175141.jsx
.history/client/src/pages/admin/Appointments_20250721175204.jsx
.history/client/src/pages/admin/Appointments_20250721175248.jsx
.history/client/src/pages/admin/Appointments_20250721182309.jsx
.history/client/src/pages/admin/Appointments_20250721192412.jsx
.history/client/src/pages/admin/Appointments_20250721211757.jsx
.history/client/src/pages/admin/Appointments_20250722000132.jsx
.history/client/src/pages/admin/Appointments_20250722000357.jsx
.history/client/src/pages/admin/Appointments_20250722023339.jsx
.history/client/src/pages/admin/Schedule_20250719173515.jsx
.history/client/src/pages/admin/Schedule_20250721194238.jsx
.history/client/src/pages/admin/Schedule_20250721194315.jsx
.history/client/src/pages/admin/Schedule_20250721194319.jsx
.history/server/APPOINTMENT_BACKEND_SETUP_20250721171321.md
.history/server/APPOINTMENT_BACKEND_SETUP_20250721171350.md
.history/server/index_20250706121736.js
.history/server/index_20250721171131.js
.history/server/index_20250721171132.js
.history/server/index_20250721181336.js
.history/server/index_updated_20250721181609.js
.history/server/index_updated_20250721181649.js
.history/server/controllers/appointmentController_20250721170658.js
.history/server/controllers/appointmentController_20250721170917.js
.history/server/controllers/appointmentController_20250721171249.js
.history/server/models/appointmentIndex_20250721171146.js
.history/server/models/appointmentIndex_20250721171211.js
.history/server/models/appointmentIndex_20250721171839.js
.history/server/models/appointmentModels_20250721170630.js
.history/server/models/appointmentModels_20250721170640.js
.history/server/models/appointmentModels_20250721171801.js
.history/server/models/appointmentStatusModels_20250721170644.js
.history/server/models/appointmentStatusModels_20250721170646.js
.history/server/models/appointmentStatusModels_20250721170653.js
.history/server/models/appointmentStatusModels_20250721171820.js
.history/server/models/appointmentStatusModels_20250721171824.js
.history/server/models/visitorModels_20250721170610.js
.history/server/models/visitorModels_20250721170624.js
.history/server/routes/auth_20250706121736.js
.history/server/routes/auth_20250721170959.js
.history/server/routes/auth_20250721171012.js
.history/server/scripts/createAppointmentTables_20250721171854.js
.history/server/scripts/createAppointmentTables_20250721171918.js
.history/server/scripts/initAppointmentModels_20250721171258.js
.history/server/scripts/initAppointmentModels_20250721171316.js
.history/server/scripts/initAppointmentModels_20250721172001.js
.history/server/scripts/initAppointmentModels_20250721172124.js
.history/server/scripts/initAppointmentModels_20250721181456.js
.history/.gitignore_20250722023646
.history/.gitignore_20250722023708
.history/.gitignore_20250722030010
.history/client/.env_20250706121736
.history/client/.env_20250722031710
.history/client/src/components/subpages/AppointmentViewPage_20250722030805.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722031929.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032631.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032658.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032719.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032734.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032751.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722032805.jsx
.history/client/src/lib/axiosClient_20250608001955.jsx
.history/client/src/lib/axiosClient_20250722031639.jsx
.history/client/src/lib/axiosClient_20250722031640.jsx
.history/client/src/pages/admin/Appointments_20250722030036.jsx
.history/client/src/pages/admin/Appointments_20250722030754.jsx
.history/client/src/pages/admin/Appointments_20250722031518.jsx
.history/client/src/pages/admin/Appointments_20250722031534.jsx
.history/client/src/pages/admin/Appointments_20250722031555.jsx
.history/client/src/pages/admin/Appointments_20250722031609.jsx
.history/.gitignore_20250722032922
.history/client/src/router_20250720004308.jsx
.history/client/src/router_20250722034157.jsx
.history/client/src/router_20250722034440.jsx
.history/client/src/router_20250722035031.jsx
.history/client/src/router_20250722035045.jsx
.history/client/src/components/Breadcrumb_20250720000454.jsx
.history/client/src/components/Breadcrumb_20250722033337.jsx
.history/client/src/components/Breadcrumb_20250722034130.jsx
.history/client/src/components/Breadcrumb_20250722034510.jsx
.history/client/src/components/Breadcrumb_20250722034707.jsx
.history/client/src/components/Breadcrumb_20250722035310.jsx
.history/client/src/components/Breadcrumb_20250722035330.jsx
.history/client/src/components/Breadcrumb_20250722035453.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722034203.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722034228.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722034403.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722034955.jsx
.history/client/src/pages/admin/Appointments_20250722035549.jsx
.history/client/src/pages/admin/Appointments_20250722035607.jsx
.history/client/src/pages/admin/Appointments_20250722035623.jsx
.history/.gitignore_20250722035713
.history/client/src/components/subpages/AppointmentViewPage_20250722040208.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040241.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040317.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040426.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040449.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040628.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722040905.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722035917.jsx
.history/client/src/components/subpages/ViewAppointmentDetails_20250722035918.jsx
.history/.gitignore_20250722042027
.history/client/src/pages/admin/Schedule_20250722042057.jsx
.history/client/src/pages/admin/Schedule_20250722042158.jsx
.history/client/src/pages/admin/Schedule_20250722123127.jsx
.history/client/src/pages/admin/Schedule_20250722123150.jsx
.history/client/src/pages/admin/Schedule_20250722123207.jsx
.history/client/src/pages/admin/Schedule_20250722123333.jsx
.history/client/src/pages/admin/Schedule_20250722130923.jsx
.history/client/src/pages/admin/Schedule_20250722132407.jsx
.history/client/src/pages/admin/Schedule_20250722132428.jsx
.history/client/src/pages/admin/Schedule_20250722132640.jsx
.history/client/src/pages/admin/Schedule_20250722132813.jsx
.history/client/src/pages/admin/Schedule_20250722132857.jsx
.history/client/src/pages/admin/Schedule_20250722132921.jsx
.history/client/src/pages/admin/Schedule_20250722133117.jsx
.history/client/src/pages/admin/Schedule_20250722133131.jsx
.history/client/src/pages/admin/Schedule_20250722135143.jsx
.history/client/src/pages/admin/Schedule_20250722135754.jsx
.history/server/controllers/scheduleController_20250722131915.js
.history/server/controllers/scheduleController_20250722131945.js
.history/server/controllers/scheduleController_20250722132012.js
.history/server/models/scheduleModels_20250722131857.js
.history/server/models/scheduleModels_20250722131910.js
.history/server/models/scheduleModels_20250722132317.js
.history/server/routes/auth_20250722132134.js
.history/server/routes/auth_20250722132139.js
.history/server/scripts/initScheduleModels_20250722132219.js
.history/server/scripts/initScheduleModels_20250722132231.js
.history/server/scripts/initScheduleModels_20250722132325.js
.history/.gitignore_20250722142418
.history/schedules_table_20250722151249.sql
.history/schedules_table_20250722151303.sql
.history/client/src/components/function/LiveClock_20250722150401.jsx
.history/client/src/components/function/LiveClock_20250722150404.jsx
.history/client/src/components/function/LiveClock_20250722150429.jsx
.history/client/src/components/function/Toast_20250722150435.jsx
.history/client/src/components/function/Toast_20250722150445.jsx
.history/client/src/components/function/Toast_20250722150501.jsx
.history/client/src/lib/websocketClient_20250722150518.js
.history/client/src/lib/websocketClient_20250722150528.js
.history/client/src/lib/websocketClient_20250722150612.js
.history/client/src/pages/admin/Schedule_20250722143131.jsx
.history/client/src/pages/admin/Schedule_20250722143244.jsx
.history/client/src/pages/admin/Schedule_20250722143739.jsx
.history/client/src/pages/admin/Schedule_20250722144104.jsx
.history/client/src/pages/admin/Schedule_20250722144243.jsx
.history/client/src/pages/admin/Schedule_20250722150512.jsx
.history/client/src/pages/admin/Schedule_20250722150632.jsx
.history/client/src/pages/admin/Schedule_20250722150650.jsx
.history/client/src/pages/admin/Schedule_20250722150940.jsx
.history/client/src/pages/admin/Schedule_20250722152359.jsx
.history/server/index_20250722150933.js
.history/server/index_20250722151724.js
.history/server/controllers/scheduleController_20250722145553.js
.history/server/controllers/scheduleController_20250722145607.js
.history/server/controllers/scheduleController_20250722145617.js
.history/server/controllers/scheduleController_20250722145722.js
.history/server/controllers/scheduleController_20250722145736.js
.history/server/models/scheduleModels_20250722145708.js
.history/.gitignore_20250722152805
.history/client/src/pages/admin/Appointments_20250722180317.jsx
.history/client/src/pages/admin/Schedule_20250722153834.jsx
.history/client/src/pages/admin/Schedule_20250722180038.jsx
.history/client/src/pages/admin/Schedule_20250722180847.jsx
.history/client/src/pages/admin/Schedule_20250722180925.jsx
.history/client/src/pages/admin/Schedule_20250722181203.jsx
.history/client/src/pages/admin/Schedule_20250722181551.jsx
.history/client/src/pages/admin/Schedule_20250722181845.jsx
.history/client/src/pages/admin/Schedule_20250722181904.jsx
.history/client/src/pages/admin/Schedule_20250722181937.jsx
.history/client/src/pages/admin/Schedule_20250722182744.jsx
.history/server/index_20250722153509.js
.history/server/index_20250722153530.js
.history/server/controllers/scheduleController_20250722153757.js
.history/server/controllers/scheduleController_20250722153808.js
.history/server/controllers/scheduleController_20250722154206.js
.history/server/models/scheduleModels_20250722153734.js
.history/server/models/scheduleModels_20250722153744.js
.history/.gitignore_20250722182747
.history/client/src/components/DayScheduler_20250719004258.jsx
.history/client/src/components/DayScheduler_20250722183547.jsx
.history/client/src/pages/admin/Schedule_20250722182846.jsx
.history/client/src/pages/admin/Schedule_20250722182955.jsx
.history/client/src/pages/admin/Schedule_20250722183041.jsx
.history/client/src/pages/admin/Schedule_20250722183112.jsx
.history/client/src/pages/admin/Schedule_20250722183128.jsx
.history/client/src/pages/admin/Schedule_20250722183151.jsx
.history/client/src/pages/admin/Schedule_20250722183903.jsx
.history/client/src/pages/admin/Schedule_20250722184019.jsx
.history/client/src/pages/admin/Schedule_20250722184145.jsx
.history/client/src/pages/admin/Schedule_20250722184841.jsx
.history/client/src/pages/admin/Schedule_20250722184906.jsx
.history/client/src/pages/admin/Schedule_20250722185500.jsx
.history/server/checkScheduleIds_20250722185754.js
.history/server/checkScheduleIds_20250722185853.js
.history/.gitignore_20250722204434
.history/client/src/components/subpages/AppointmentViewPage_20250722205240.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722205241.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722211032.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250722213234.jsx
.history/client/src/pages/admin/Appointments_20250722213042.jsx
.history/client/src/pages/admin/Schedule_20250722204836.jsx
.history/client/src/pages/admin/Schedule_20250722204925.jsx
.history/client/src/pages/admin/Schedule_20250722204935.jsx
.history/client/src/pages/admin/Schedule_20250722204945.jsx
.history/client/src/pages/admin/Schedule_20250722205010.jsx
.history/client/src/pages/admin/Schedule_20250722205223.jsx
.history/client/src/pages/admin/Schedule_20250722205345.jsx
.history/client/src/pages/admin/Schedule_20250722205346.jsx
.history/client/src/pages/admin/Schedule_20250722211008.jsx
.history/client/src/pages/admin/Schedule_20250722211100.jsx
.history/client/src/pages/admin/Schedule_20250722211150.jsx
.history/client/src/pages/admin/Schedule_20250722211530.jsx
.history/client/src/pages/admin/Schedule_20250722211929.jsx
.history/.gitignore_20250722214255
.history/client/src/components/schedule/CalendarSection_20250722220524.jsx
.history/client/src/components/schedule/CalendarSection_20250722220633.jsx
.history/client/src/components/schedule/CalendarSection_20250722221217.jsx
.history/client/src/pages/admin/Schedule_20250722214940.jsx
.history/client/src/pages/admin/Schedule_20250722215035.jsx
.history/client/src/pages/admin/Schedule_20250722215045.jsx
.history/client/src/pages/admin/Schedule_20250722220054.jsx
.history/client/src/pages/admin/Schedule_20250722220732.jsx
.history/client/src/pages/admin/Schedule_20250722220750.jsx
.history/client/src/pages/admin/Schedule_20250722221016.jsx
.history/client/src/pages/admin/Schedule_20250722221040.jsx
.history/client/src/pages/admin/Schedule_20250722221057.jsx
.history/client/src/pages/admin/Schedule_20250722221511.jsx
.history/.gitignore_20250722221702
.history/notes.txt_20250721164902.txt
.history/notes.txt_20250722222233.txt
.history/.gitignore_20250722222251
.history/.gitignore_20250722222257
.history/client/src/router_20250723005029.jsx
.history/client/src/router_20250723125347.jsx
.history/client/src/router_20250723125517.jsx
.history/client/src/components/Breadcrumb_20250723003548.jsx
.history/client/src/components/Breadcrumb_20250723012243.jsx
.history/client/src/components/Breadcrumb_20250723012256.jsx
.history/client/src/components/Breadcrumb_20250723090430.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723002422.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723125559.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723130027.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723130831.jsx
.history/client/src/components/subpages/ViewAppointment_20250723003611.jsx
.history/client/src/components/subpages/ViewAppointment_20250723003627.jsx
.history/client/src/components/subpages/ViewAppointment_20250723125235.jsx
.history/client/src/components/subpages/ViewAppointment_20250723125448.jsx
.history/client/src/pages/admin/Appointments_20250723002454.jsx
.history/client/src/pages/admin/Appointments_20250723004526.jsx
.history/client/src/pages/admin/Appointments_20250723010738.jsx
.history/client/src/pages/admin/Appointments_20250723011034.jsx
.history/client/src/pages/admin/Appointments_20250723011638.jsx
.history/client/src/pages/admin/Appointments_20250723012350.jsx
.history/client/src/pages/admin/Appointments_20250723012637.jsx
.history/client/src/pages/admin/Appointments_20250723012951.jsx
.history/client/src/pages/admin/Appointments_20250723013440.jsx
.history/client/src/pages/admin/Appointments_20250723085906.jsx
.history/client/src/pages/admin/Appointments_20250723090342.jsx
.history/client/src/pages/admin/Appointments_20250723090410.jsx
.history/client/src/pages/admin/Appointments_20250723112108.jsx
.history/server/controllers/appointmentController_20250723023631.js
.history/server/controllers/appointmentController_20250723092218.js
.history/server/routes/auth_20250723023955.js
.history/server/routes/auth_20250723094243.js
.history/.gitignore_20250723131241
.history/client/src/components/Breadcrumb_20250723140630.jsx
.history/client/src/components/Breadcrumb_20250723140643.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723135305.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723135318.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723135332.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723140322.jsx
.history/client/src/components/subpages/AppointmentViewPage_20250723140358.jsx
.history/client/src/pages/admin/Appointments_20250723133002.jsx
.history/client/src/pages/admin/Appointments_20250723133318.jsx
.history/client/src/pages/admin/Appointments_20250723134339.jsx
.history/client/src/pages/admin/Appointments_20250723134409.jsx
.history/client/src/pages/admin/Appointments_20250723134748.jsx
.history/client/src/pages/admin/Appointments_20250723134807.jsx
.history/client/src/pages/admin/Appointments_20250723135400.jsx
.history/client/src/pages/admin/Appointments_20250723135843.jsx
.history/client/src/pages/admin/Appointments_20250723140823.jsx
.history/client/src/pages/admin/Appointments_20250723143703.jsx
.history/client/src/pages/admin/Appointments_20250723143823.jsx
.history/client/src/pages/admin/Appointments_20250723143931.jsx
.history/client/src/pages/admin/Appointments_20250723143946.jsx
.history/client/src/pages/admin/Appointments_20250723144541.jsx
.history/client/src/pages/admin/Appointments_20250723151147.jsx
.history/client/src/pages/admin/Appointments_20250723151337.jsx
.history/.gitignore_20250723151834
